:root {

    --primary: #4f46e5;
    --primary-hover: #4338ca;

    --success: #10b981;
    --danger: #ef4444;
    --warning: #f59e0b;

    --background: #f8fafc;
    --card: #ffffff;

    --text: #111827;
    --text-light: #6b7280;

    --border: #e5e7eb;

    --radius: 12px;

    --shadow:
        0 4px 12px rgba(0,0,0,0.08);

}