{% extends 'base.html' %}

{% block content %}

<h2>My Interviews</h2>

<a
    href="{% url 'interview_create' %}"
    class="btn btn-primary mb-3">

    Add Interview

</a>

<table class="table">

    <thead>

        <tr>
            <th>Company</th>
            <th>Round</th>
            <th>Date</th>
            <th>Result</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        {% for interview in interviews %}

        <tr>

            <td>
                {{ interview.company_name }}
            </td>

            <td>
                {{ interview.round_name }}
            </td>

            <td>
                {{ interview.interview_date }}
            </td>

            <td>
                {{ interview.get_result_display }}
            </td>

            <td>

                <a
                    href="{% url 'interview_update' interview.id %}"
                    class="btn btn-warning btn-sm">

                    Edit

                </a>

                <a
                    href="{% url 'interview_delete' interview.id %}"
                    class="btn btn-danger btn-sm">

                    Delete

                </a>

            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="5">
                No interviews found.
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}